<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="sagan_description" command="$(find xacro)/xacro --inorder '$(find sagan_description)/urdf/sagan.urdf'" />
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    
    <node name="sagan_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param sagan_description -model sagan -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>